* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* section */
.container {
    width: 100%;
    height: 100vh;
}

/* container */
.car {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
}


/* backgrounds */
.background {
    width: 100%;
    height: 100%;
    position: absolute;
}

/* background switch */

/* first background */
.background1 {
    background-image:linear-gradient(to right, #bbe2fd, #85a1b6);
    animation-name: background1;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-fill-mode: both;
    animation-play-state: running;
    z-index: 9;
    opacity: 1;
}
@keyframes background1 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/* second background */
.background2 {
    background-image: linear-gradient(to right, #fae8df, #cabeb4);
    animation-name: background2;
    animation-duration: 5s;
    animation-delay: 7s;
    animation-fill-mode: both;
    animation-play-state: running;
    z-index: 8;
    opacity: 1;
}
@keyframes background2 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* third background */
.background3 {
    background-image: linear-gradient(to right, #f4e5d9, #ab9f95);    
    animation-name: background3;
    animation-duration: 5s;
    animation-delay: 11s;
    animation-fill-mode: both;
    animation-play-state: running;
    z-index: 7;
    opacity: 1;
}
@keyframes background3 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* fourth background*/
.background4 {
    background-image: linear-gradient(to right, #a99e95, #51473d);
}

/* numbers */
.number {
    width: 100%;
    height: 350px;
    display: flex;
    color: #5a92ad;
    align-items: end;
    justify-content: center;
    font-size: 150px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    top: 4%;
    transition: 2s;
    z-index: 9;
}
.translate-number19, .translate-number4, .translate-number8 {
    width: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: -5%;
    left: 51%;
    overflow: hidden;
    transition: 0.7s;
}
.translate-number19 {
    left: 31%;
    width: 300px;
}
.translate-number8 {
    left: 63%;
}

/* switch numbers color */
.number {
    animation-name: numColor;
    animation-duration: 12s;
    animation-delay: 2s;
    animation-fill-mode: both;
    animation-play-state: running;
}
@keyframes numColor {
    0% {
        color: #5a92ad;
    }
    30% {
        color: #dac5a2;
    }
    40% {
        color: #dac5a2;
    }
    50% {
        color: #dac5a2;
    }
    60% {
        color: #a6a293;
    }
    70% {
        color: #a6a293;
    }
    80% {
        color: #a6a293;
    }
    90% {
        color: #3a3731;
    }
    100% {
        color: #3a3731;
    }
}

/* switch numbers */

/* number 19 */
.number .translate-number19 span {
    transform: translateY(0);
    animation-name: number20;
    animation-duration: 2.9s;
    animation-delay: 11.6s;
    animation-fill-mode: both;
    animation-play-state: running;
}
@keyframes number20 {
    0% {
        transform: translateY(-0);
    }
    100% {
        transform: translateY(-262px);
    }
}


/* number 4 */
.number .translate-number4 span {
    transform: translateY(-784px);
    animation-name: number4;
    animation-duration: 14s;
    animation-delay:1s;
    animation-fill-mode: both;
    animation-play-state: running;
}
@keyframes number4 {
    0% {
        transform: translateY(-784px);
    }
    10% {
        transform: translateY(-784px);
    }
    20% {
        transform: translateY(-1305px);
    }
    30% {
        transform: translateY(-1305px);
    }
    40% {
        transform: translateY(-1305px);
    }
    60% {
        transform: translateY(-2088px);
    }
    78% {
        transform: translateY(-2088px);
    }
    100% {
        transform: translateY(-5px);
    }
}


/* number 8 */
.number .translate-number8 span {
    transform: translateY(-1045px);
    animation-name: number8;
    animation-duration: 11s;
    animation-delay: 1.3s;
    animation-fill-mode: both;
    animation-play-state: running;
}
@keyframes number8 {
    0% {
        transform: translateY(-1045px);
    }
    10% {
        transform: translateY(-1045px);
    }
    40% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(0px);
    }
    60% {
        transform: translateY(-1310px);
    }
    70% {
        transform: translateY(-1310px);
    }
    80% {
        transform: translateY(-1310px);
    }
    90% {
        transform: translateY(-1310px);
    }
    100% {
        transform: translateY(-1310px);
    }
}


/* images */
.car .car-img {
    width: 50%;
    height: 350px;
    display: flex;
    margin-left: 70px;
    justify-content: center;
    align-items: end;
    position: absolute;
}

/* shadow */
.car-img .shadow {
    width: 82%;
    height: 1px;
    box-shadow: 20px 100px 16px 20px rgb(0, 0, 0);
    border-radius: 50%;
    position: absolute;
    top: 70%;
    z-index: -1;
}

/* image */
.car-img img {
    width: 100%;
}

/* text */
.text {
    position: absolute;
    bottom: -110px;
    color: white;
    font-size: 53px;
    letter-spacing: 2px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* switch1 */
.car1 .car1-img {
    animation-fill-mode: both;
    animation-play-state: running;
    animation-duration: 3s;
    animation-name: car1;
    animation-delay: 2s;
    z-index: 99;
}
@keyframes car1 {
    0% {
        transform: translateX(0);  
    }
    100% {
        transform: translateX(-1200px);
    }
}

/* switch2 */
.car2 .car2-img {
    animation-name: car2;
    animation-fill-mode: both;
    animation-play-state: running;
    animation-duration: 15s;
    animation-delay: 2s;
    z-index: 9;
}
@keyframes car2 {
    0% {
        transform: translateX(1200px);
    }
    20% {
        transform: translateX(0px);
    }
    30% {
        transform: translateX(0px);
    }
    30% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-1200px);
    }
    60% {
        transform: translateX(-1200px);
    }
    80% {
        transform: translateX(-1200px);
    }
    100% {
        transform: translateX(-1200px);
    }
}

/* switch3 */
.car3 .car3-img {
    animation-name: car3;
    animation-fill-mode: both;
    animation-play-state: running;
    animation-duration: 17s;
    animation-delay: 6s;
    z-index: 9;
}
@keyframes car3 {
    0% {
        transform: translateX(1200px);
    }
    20% {
        transform: translateX(0px);
    }
    30% {
        transform: translateX(0px);
    }
    30% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-1200px);
    }
    60% {
        transform: translateX(-1200px);
    }
    80% {
        transform: translateX(-1200px);
    }
    100% {
        transform: translateX(-1200px);
    }
}


/* switch4 */
.car4 .car4-img {
    animation-name: car4;
    animation-fill-mode: both;
    animation-play-state: running;
    animation-duration: 15s;
    animation-delay: 11s;
    z-index: 9;
}
@keyframes car4 {
    0% {
        transform: translateX(1200px);
    }
    20% {
        transform: translateX(0px);
    }
    30% {
        transform: translateX(0px);
    }
    30% {
        transform: translateX(0px);
    }

}









